body {
    margin-left: 2%;
    margin-right: 2%;
    min-height: 100%;
}

h1 {
    background-color: navy;
    color: white;
    margin-bottom: 5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

input, select {
    width: 100%;
    margin-bottom: 15px;
}

p {
    margin-bottom: 0px;
}

.top-articles {
    margin-top: 20px;
}

.result {
    margin-bottom: 10px;
}

.blue {

    font-style: bold;
}