body {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100%;
    height: fit-content;
}

h1 {
    background-color: navy;
    color: white;
    margin-bottom: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: large;
    border-radius: 5px;
}

input, select {
    width: 100%;
    margin-bottom: 15px;
}

p {
    margin-bottom: 0px;
}

.top-articles {
    margin-top: 20px;
    margin-bottom: 20px;
}

.result {
    margin-bottom: 10px;
}

.blue {
    font-style: bold;
}

.large {
    display: inline-block;
}
.small {
    display: none;
}

@media (max-width: 600px) {
    .small {
        display: inline-block;
    }
    .large {
        display: none;
    }
    h1 {
        font-size: small;
    }
    .header p {
        padding-top: 10px;
    }
  }